<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bonjour, et bienvenue sur TGP </h1>
    <p>Nous avons aucun potin pour le moment ..</p>
    <a href="/gossips/new/">Créer un nouveau Gossip</a>

    <% gossips.each do |gossip| %>
  <p>
    <%= gossip.author %><br/>
    <%= gossip.content %>
  </p>
<% end %>

  </body>
</html>